@use 'sass:map';
@use 'config' as *;

@function breakpoint($variant: d) {
  @return map.get($breakpoints, $variant);
}

@function media($direction: '>', $variant: d) {
  @if $direction == '>' {
    @return '(min-width: #{breakpoint($variant) + 1px})';
  } @else if $direction == '>=' {
    @return '(min-width: #{breakpoint($variant)})';
  } @else if $direction == '<' {
    @return '(max-width: #{breakpoint($variant) - 1px})';
  } @else if $direction == '<=' {
    @return '(max-width: #{breakpoint($variant)})';
  }
}

@mixin wrapper {
  width: 100%;
  max-width: var(--page-max);
  margin-inline: auto;
  padding-inline: var(--page-pad);
}

@mixin rise($duration: 0.9s, $delay: 0s) {
  animation: block-rise $duration $transition-timing-function $delay both;
}

@mixin hover() {
  cursor: pointer;

  @media #{media('>', t)} and (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin crop-text($lineCount) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
  line-clamp: $lineCount;
  text-overflow: ellipsis;
}
