@use "global/config" as *;
@use "global/mixins" as *;

.popover {
  z-index: 50;
  width: rem(280px);
  min-width: rem(160px);
  padding: rem(16px);
  @include overlay-panel;

  &__title {
    font-weight: 500;
    font-size: rem(14px);
    letter-spacing: -0.02em;
  }

  &__description {
    margin-top: rem(6px);
    font-size: rem(13px);
    line-height: 1.5;
    color: $muted;
  }
}
